[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
certifi = "==2020.12.5"
chardet = "==4.0.0"
idna = "==2.10"
urllib3 = "==1.26.3"
pytest = "==6.2.2"
attrs = "==20.3.0"
iniconfig = "==1.1.1"
pluggy = "==0.13.1"
py = "==1.10.0"
pyparsing = "==2.4.7"
toml = "==0.10.2"
Beaker = "==1.11.0"

[dev-packages]

[requires]
python_version = "3.9"
